DATABASE_URL=postgresql+psycopg://flashcards:flashcards@db:5432/flashcards

GIT_REPO_URL=git@github.com:chris-carbonell/flashcards-example.git
GIT_REPO_PATH=/data/cards
GIT_USER_NAME=Flashcards App
GIT_USER_EMAIL=flashcards@local
CARDS_SUBDIR=cards